﻿@model AutoBidder.Models.LocalPasswordModel
@using System.Text
@using System.Web.Mvc.Ajax;
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<div class="clear-fix">

    <div class="float-left">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>

    <div class="float-right">
        @{
            var ajaxOptions = new AjaxOptions()
            {
                HttpMethod = "Post",
                OnSuccess = "OnSuccess",
                OnComplete = "OnComplete",
                OnFailure = "OnFailure"
            };
        }
        @using (Ajax.BeginForm("UpdateWebmoneyProfile", "Account", new { formName = "WemoneyProfile" }, ajaxOptions))
        {
            @Html.LabelFor(m => m.WebmoneyKey)
            @Html.TextAreaFor(m => m.WebmoneyKey, new {style = "width: 500px;height: 146px;"})

            @Html.LabelFor(m => m.Wmid)
            @Html.TextBoxFor(m => m.Wmid)
            <p>
                <input id="updateWebmoneyProfile" type="submit" value="Update webmoney profile" />
            </p>
        }
    </div>
</div>

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    <script>
        $('#updateWebmoneyProfile').on('click', function (e) {
            $('#WebmoneyKey').val(btoa($('#WebmoneyKey').val()));
        });
        function OnComplete() {
            $('#WebmoneyKey').val(atob($('#WebmoneyKey').val()));
        }
        function OnFailure() {
            alert("Failure");
        }
        function OnSuccess() {
            alert("Success");
        }
    </script>
}



