﻿@model AutoBidder.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Wmid)
                @Html.TextBoxFor(m => m.Wmid)
            </li>
            <li>
                @Html.LabelFor(m => m.WebmoneyKey)
                @Html.TextAreaFor(m => m.WebmoneyKey)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('form input[type="submit"]').on('click', function() {
        if ($('form').valid()) {
            var base64 = btoa($('form #WebmoneyKey').val());
            $('form #WebmoneyKey').val(base64);
        }
    });

</script>