﻿@model AutoBidder.Models.ProfieWebmoneyModel

@{
    ViewBag.Title = "Add new bid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="content-wrapper">
        <hgroup class="title" style="margin-left: 5px;padding-top: 1px;padding-bottom: 2px;">
            <h1>@ViewBag.Title</h1>
        </hgroup>
    </div>
}

@using (Html.BeginForm("AddNewBid", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(b => b.QueryId)
        @Html.TextBoxFor(b => b.QueryId)
    </div> 
    <div>
        @Html.LabelFor(b => b.MinOutInRate)
        @Html.TextBoxFor(b => b.MinOutInRate)
    </div> 
    <div>
        @Html.LabelFor(b => b.Active)
        @Html.CheckBoxFor(b => b.Active)
    </div>    
    <div>
        @Html.ValidationSummary()
    </div>

    <input type="submit" value="Add bid" />
}
