﻿@using AutoBidder.Database
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Profile bids";
}

@section featured {
    <div class="content-wrapper">
        <hgroup class="title" style="margin-left: 5px;padding-top: 1px;padding-bottom: 2px;">
            <h1>@ViewBag.Title</h1>
        </hgroup>
    </div>
}

<div style="position: relative;float: right;top: -22px;">
    @Html.ActionLink("Add new bid", "AddNewBid")
</div>

@(Html.Kendo().Grid<WebmoneyProfieBid>()
        .Name("grid")
        
        .Columns(columns =>
        {
            columns.Bound(c => c.QueryId).Title("Query ID");
            columns.Bound(c => c.CurrentOutInRate).Title("Current Rate(Out/In)");
            columns.Bound(c => c.MinOutInRate).Title("Min Rate(Out/In)");
            columns.Bound(c => c.Active).Title("Active");
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
        })
        .HtmlAttributes(new { style = "height: 400px;" })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Selectable()
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .ButtonCount(15))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Events(e => e.Error("error_handler"))
            .Read(read => read.Action("GetWemoneyBids", "Home"))
            .Update(update => update.Action("UpdateWemoneyBid", "Home"))
            .Destroy(destroy => destroy.Action("DeleteWemoneyBid", "Home"))
//            .Create(create => create.Action("CreateWemoneyBid", "Home"))
            .Model(
                model =>
                {
                    model.Field(p => p.CurrentOutInRate).Editable(false);
                    model.Field(p => p.QueryId).Editable(false);
                    model.Id(p => p.QueryId);
                }
            )
        )
)


@(Html.Kendo().Window()
    .Name("alertWindow")
    .Title("Status Message from Server")
    .Draggable()
    .Resizable()
    .Width(400)
    .Height(200)
    .Modal(true)
    .Visible(false)
)

<script>
    function showAlertWindow(message) {
        var alertWindow = $('#alertWindow').data('kendoWindow');
        alertWindow.content(message);
        alertWindow.refresh();
        alertWindow.center();
        alertWindow.open();
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            var grid = $("#grid").data("kendoGrid");
            grid.cancelChanges();
            showAlertWindow(message);
        }
    }
</script>

