﻿@using Kendo.Mvc.UI
@using Webmoney.DataClasses.Response
@model AutoBidder.Models.ProfieBidsModel
@{
    ViewBag.Title = "ProfileBids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: -45%;margin-bottom: 15px;">ProfileBids</h2>

<div style="height: 400px;width: 190%;margin-left: -45%;">
    @(Html.Kendo().Grid<wmexchangerresponseWMExchnagerQuerysQuery>
    ()
    .Name("grid")
    .BindTo(Model.bidResult.WMExchnagerQuerys.query)
    .Columns(columns =>
    {
        columns.Bound(c => c.amountin);
        columns.Bound(c => c.amountout);
        columns.Bound(c => c.direction);
        columns.Bound(c => c.exchtype);
        columns.Bound(c => c.id);
        columns.Bound(c => c.inoutrate);
        columns.Bound(c => c.inpurse);
        columns.Bound(c => c.querydate);
        columns.Bound(c => c.querydatecr);
        columns.Bound(c => c.state);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
    })
    .DataSource(d => d.Ajax().ServerOperation(false))
    .HtmlAttributes(new { style = "height: 400px;" })
    .Scrollable()
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable
    .ButtonCount(15))
    )
</div>

